* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ECECEC;
  background-color: #F78888;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
